.DS_Store
Thumbs.db
*~
*.swp
*.swo
.vscode/
.idea/

*.o
*.obj

suckless/.config/dwm/dwm
suckless/.config/st/st
suckless/.config/dmenu/dmenu
suckless/.config/dmenu/stest

__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
*.log
scripts/install.log
scripts/uninstall.log
node_modules/
npm-debug.log

.env
.netrc
.ssh/
id_rsa
id_ed25519
*.pem
.luarc.json
lazy-lock.json

*.gif
tools/.config/spicetify/CustomApps
tools/.config/spicetify/Extentions
Kvantum
