.DS_Store
Thumbs.db
*~
*.swp
*.swo
.vscode/
.idea/

*.o
*.obj

# Ignore compiled binaries inside suckless folders
# We want to keep the source, but not the result of 'make'
suckless/.config/dwm/dwm
suckless/.config/st/st
suckless/.config/dmenu/dmenu
suckless/.config/dmenu/stest

__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
*.log
scripts/install.log
scripts/uninstall.log
node_modules/
npm-debug.log

.env
.netrc
.ssh/
id_rsa
id_ed25519
*.pem

*.gif
gui-tools/.config/Thunar/libreoffice
gui-tools/.config/Thunar/xfce4
tools/.config/spicetify/CustomApps
tools/.config/spicetify/Extentions
Kvantum
