BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

ColumnLimit: 100

SortIncludes: false
IncludeBlocks: Preserve

BreakBeforeBraces: Attach
BinPackArguments: false

AllowShortFunctionsOnASingleLine: None
# AllowShortIfStatementsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true

IndentPPDirectives: None

ReflowComments: false
